<div class="footer">
  <div class="">
    <div class="footer-item">
      <a href="https://github.com/danielinux7/open-translate">
        <div class="icon-oval p-3"><i class="md-green svg github"></i></div>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://aps-abkhazia.su">
        <div class="icon-oval p-3"><i class="md-green aps-logo"></i></div>
      </a>
    </div>
    <div class="footer-item">
      <a href="mailto:daniel.abzakh@gmail.com">
        <div class="icon-oval p-3"><i class="md-green svg mail"></i></div>
      </a>
    </div>
  </div>
</div>