<div class="container-xl translate-type">
  <button type="button" [class.active]="selectedType === 'text'" class="mr-12px btn" (click)="onSelectType('text')">
    <span class="material-icons md-22 align-middle">
      translate
    </span>Аҳәоу</button>
  <button type="button" [class.active]="selectedType === 'doc'" class="mr-12px btn" (click)="onSelectType('doc')">
    <span class=" material-icons md-22 align-middle">
      insert_drive_file
    </span>Ашәҟәы</button>
  <button type="button" [class.active]="selectedType === 'photo'" class="mr-12px btn" (click)="onSelectType('photo')">
    <span class=" material-icons md-22 align-middle">
      insert_photo
    </span>Асахьа</button>
</div>