model_config_list {
  config{
         name: 'ab-ru'
         base_path: '/home/nart/Documents/open-translate/server/models/ab-ru/'
         model_platform: 'tensorflow'
       }
  config{
        name: 'ru-ab'
        base_path: '/home/nart/Documents/open-translate/server/models/ru-ab/'
        model_platform: 'tensorflow'
        }
}
