<header class="border-bottom container">
  <div class="row">
    <a href="/" class="col-1">
      <div class="pt-2"><i class="md-green logo"></i></div>
    </a>
    <div class="col-10 d-flex justify-content-center">
      <a href="/" class="d-none m-2 d-lg-block text-green text-decoration-none">
        <div class="d-flex justify-content-center">Аԥсуа бызшәа арҿиаразы Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонд
        </div>
      </a>
      <a href="/" class="d-none m-2 d-lg-none d-sm-block text-green text-decoration-none">
        <div class="d-flex justify-content-center">Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонд</div>
      </a>
      <a href="/" class="d-block m-2 d-xsm-none d-sm-none text-green text-decoration-none">
        <div class="d-flex justify-content-center">Баграт Шьынқәба ифонд</div>
      </a>
    </div>
    <!-- <div class="col-1 material-icons" (click)="toggleDarkMode()">
        dark_mode
    </div> -->
  </div>
</header>