<header class="border-bottom row">
   <a href="/" class="col-1">
      <div class="p-2"><i class="md-green logo"></i></div>
   </a>
   <div class="col-10 d-flex justify-content-center">
     <a href="/" class="d-none d-lg-block text-green text-decoration-none">
       <span>Аԥсуа бызшәа арҿиаразы Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонд</span>
     </a>
     <a href="/" class="d-none d-lg-none d-sm-block text-green text-decoration-none">
       <span>Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонд</span>
     </a>
     <a href="/" class="d-block d-xsm-none d-sm-none text-green text-decoration-none">
       <span>Баграт Шьынқәба ифонд</span>
     </a>
   </div>
   <div class="col-1">
   </div>
</header>
