<header class="border-bottom row">
   <a href="/" class="col-1">
      <div class="p-2"><i class="md-green logo-exp"></i><i class="md-green logo"></i></div>
   </a>
   <div class="col-10 d-flex justify-content-center">
     <a href="/" class="d-none m-2 d-lg-block text-green text-decoration-none">
       <div class="d-flex justify-content-center">Аҳәынҭқарратә Бызшәатә Политиказы Аԥсны Аҳәынҭқарратә Еилаки</div>
       <div class="d-flex justify-content-center">Аԥсуа бызшәа арҿиаразы Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонди</div>
     </a>
     <a href="/" class="d-none m-2 d-lg-none d-sm-block text-green text-decoration-none">
       <div class="d-flex justify-content-center">Бызшәатә Политиказы Аԥсны Аҳәынҭқарратә Еилаки</div>
       <div class="d-flex justify-content-center">Баграт Шьынқәба ихьӡ зху Агәыҳалалратә фонди</div>
     </a>
     <a href="/" class="d-block m-2 d-xsm-none d-sm-none text-green text-decoration-none">
       <div class="d-flex justify-content-center">Бызшәатә Политиказы Еилаки</div>
       <div class="d-flex justify-content-center">Баграт Шьынқәба ифонди</div>
     </a>
   </div>
   <div class="col-1">
   </div>
</header>


