header {
    background-color: #fff;
}

.text-green {
    color: rgb(40, 167, 69);
    font-size: 1.2rem;
}

@media (max-width: 465px) {

.text-green {
    font-size: 1rem;
}
}

@media (max-width: 355px) {

.d-xsm-none {
    display: none!important;
}

}

