<div class="container-xl p-0 height-google">

  <div class="shadow-google bg-white">
    <div class="row m-0 border-google nav" role="navigation">
      <div class="nav col" id="lang-src">
        <div *ngFor="let lang of langs" [class.active]="lang === selectedSrcLang" (click)="onSelectSrc(lang)" class="lang nav-link">
          {{lang.name | uppercase}}
        </div>
      </div>
      <div class="nav col" id="lang-src-sm">
        <div class="lang nav-link">{{selectedSrcLang.name | uppercase}}</div>
      </div>
      <div (click)="onSwap()" class="col-1 nav-link material-icons align-middle swap" id="swap-lang">swap_horiz</div>
      <div class="nav col" id="lang-tgt">
        <div *ngFor="let lang of langs" [class.active]="lang === selectedTgtLang" (click)="onSelectTgt(lang)" class="lang nav-link">
          {{lang.name | uppercase}}
        </div>
      </div>
      <div class="nav col" id="lang-tgt-sm">
        <div class="lang nav-link">{{selectedTgtLang.name | uppercase}}</div>
      </div>
    </div>
    <div class="row m-0 form-group">
      <div class="col-sm-6 px-0">
        <textarea [(ngModel)]="src" class="form-control rounded-0 mb-3 no-resize no-box-shadow" id="source" rows="6"></textarea>
      </div>
      <div class="col-sm-6 px-0 mobile">
        <textarea [(ngModel)]="tgt" class="form-control rounded-0 mb-3 no-resize no-box-shadow" id="target" [readonly]="isReadOnlyTgt" placeholder="{{placeholderTgt}}"></textarea>
      </div>
    </div>
  </div>
  <div class="row m-0 justify-content-center">
    <div class="col-sm-10"></div>
    <button (click)="onTranslate()" type="button" class="col-11 col-sm-2 btn btn-success mt-2 no-box-shadow" id="translate">Еиҭага</button>
  </div>
</div>