<div class="container-xl translate-type">
  <button type="button" [class.active]="selectedType === 'text'" class="mr-12px btn" (click)="onSelectType('text')">
    <span class="material-icons md-22 align-middle">
      translate
    </span>Аҳәоу</button>
  <button hidden type="button" [class.active]="selectedType === 'doc'" class="mr-12px btn" (click)="onSelectType('doc')">
    <span class=" material-icons md-22 align-middle">
      insert_drive_file
    </span>Ашәҟәы</button>
  <button hidden type="button" [class.active]="selectedType === 'photo'" class="mr-12px btn" (click)="onSelectType('photo')">
    <span class=" material-icons md-22 align-middle">
      insert_photo
    </span>Асахьа</button>
</div>
<div class="container-xl p-0 height-google">
  <div class="shadow-google bg-white">
    <div class="row m-0 border-google nav" role="navigation">
      <div class="nav col" id="lang-src">
        <div *ngFor="let lang of langs" [class.active]="lang === selectedSrcLang" (click)="onSelectSrc(lang)" class="lang nav-link">
          {{lang.name | uppercase}}
        </div>
      </div>
      <div class="nav col" id="lang-src-sm">
        <div class="lang nav-link">{{selectedSrcLang.name | uppercase}}</div>
      </div>
      <div (click)="onSwap()" class="col-1 nav-link material-icons align-middle swap" id="swap-lang">swap_horiz</div>
      <div class="nav col" id="lang-tgt">
        <div *ngFor="let lang of langs" [class.active]="lang === selectedTgtLang && selectedType!=='photo'" (click)="onSelectTgt(lang)" class="lang nav-link">
          {{lang.name | uppercase}}
        </div>
      </div>
      <div class="nav col" id="lang-tgt-sm">
        <div class="lang nav-link">{{selectedTgtLang.name | uppercase}}</div>
      </div>
    </div>
    <!-- Text -->
    <div *ngIf="selectedType==='text'" class="row m-0 form-group">
      <div class="col-sm-6 px-0">
        <textarea [style.height]="height" [(ngModel)]="src" (ngModelChange)="onChangeText(mysrc)" #mysrc class="form-control rounded-0 mb-3 no-resize no-box-shadow" id="source" rows="6"></textarea>
        <span *ngIf="src" class="clear material-icons" (click)="onClear()">
          clear
        </span>
      </div>
      <div class="col-sm-6 px-0 mobile">
        <textarea [style.height]="height" [(ngModel)]="tgt" (ngModelChange)="onChangeText(mytgt)" #mytgt class="form-control rounded-0 mb-3 no-resize no-box-shadow" id="target" [readonly]="isReadOnlyTgt" placeholder="{{placeholderTgt}}" #formInputText></textarea>
        <span *ngIf="tgt" class="star material-icons" [class.active-star]="starred" (click)="onStarred()">
          {{starred == true ? 'star': 'star_border'}}
        </span>
        <span *ngIf="tgt" class="copy material-icons" [ngxClipboard]="formInputText">
        content_copy
        </span>
      </div>
    </div>
    <!-- Document -->
    <div *ngIf="selectedType==='doc'" class="row m-0 form-group">
      <div *ngIf="!file" class="col-sm-12 px-0 select-file-section">
        <div class="choose-document-prompt">Ашәҟәы иалх</div>
        <div class="upload-filetypes-prompt">
          <!-- We should support .doc, .docx, .odf, .pdf, .ppt, .pptx, .ps, .rtf, .xls, or .xlsx -->
          Ақәҵаразы .txt
        </div>
        <input type="file" name="file" id="tlid-file-input" (change)="onFileSelect($event)" class="file-input">
        <label for="tlid-file-input" class="button">Укомпиутер аҟнытә иааг</label>
      </div>
      <div *ngIf="file" class="file-holder row">
        <div class="file-info col-sm-6">
          <span class="material-icons md-file align-top">
            insert_drive_file
          </span>
          <div class="file-label">{{file.name}}
            <div class="file-size">{{file.size/1000 | number:'1.0-0'}} KB</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div *ngIf="downloadLink" class="downloadLink">
            Еиҭагоу ашәҟәы: <a [href]="downloadLink.url" target="_blank">{{downloadLink.filename}}</a>
          </div>
          <span class="cancel-file material-icons" (click)="onCancelFile()">
            cancel
          </span>
        </div>
      </div>
    </div>
    <!-- Photo -->
    <div *ngIf="selectedType==='photo'" class="row m-0 form-group">
      <div *ngIf="!photo" class="col-sm-12 px-0 select-file-section">
        <div class="choose-document-prompt">Асахьа иалх</div>
        <div class="upload-filetypes-prompt">
          Ақәҵаразы .jpg, .png
        </div>
        <input type="file" name="file" id="tlid-photo-input" (change)="onPhotoSelect($event)" class="file-input">
        <label for="tlid-photo-input" class="button">Укомпиутер аҟнытә иааг</label>
      </div>
      <div *ngIf="photo" class="file-holder">
        <span class="material-icons md-file align-top">
          insert_drive_file
        </span>
        <div class="file-info">
          <div class="file-label">{{photo.name}}</div>
          <div class="file-size">{{photo.size/1000 | number:'1.0-0'}} KB</div>
        </div>
        <span class="cancel-file material-icons" (click)="onCancelPhoto()">
          cancel
        </span>
      </div>
    </div>
    <!--  -->
  </div>
  <div class="row m-0 justify-content-center">
    <div class="col-sm-10"></div>
    <button *ngIf="selectedType!=='photo'" (click)="onTranslate()" type="button" class="col-11 col-sm-2 btn btn-success mt-2 no-box-shadow" id="translate">Еиҭага</button>
    <button *ngIf="selectedType==='photo'" (click)="onRead()" type="button" class="col-11 col-sm-2 btn btn-success mt-2 no-box-shadow" id="read">Уаԥха</button>
  </div>
</div>
