<div class="container-xl p-0 height-google">

  <form>
    <div class="shadow-google bg-white">
      <div class="row m-0 border-google nav" role="navigation">
        <div class="nav col" id="lang-src">
          <div class="lang nav-link active" data-lang="ab">Аԥсуа</div>
          <div class="lang nav-link" data-lang="ru">Аурыс</div>
        </div>
        <div class="nav col" id="lang-src-sm">
          <div class="lang nav-link" data-lang="ab">Аԥсуа</div>
        </div>
        <div class="col-1 nav-link material-icons align-middle swap" id="swap-lang" data-lang="ab">swap_horiz</div>
        <div class="nav col" id="lang-tgt">
          <div class="lang nav-link active" data-lang="ru">Аурыс</div>
          <div class="lang nav-link" data-lang="ab">Аԥсуа</div>
        </div>
        <div class="nav col" id="lang-tgt-sm">
          <div class="lang nav-link" data-lang="ab">Аурыс</div>
        </div>
      </div>
      <div class="row m-0 form-group">
        <div class="col-sm-6 px-0">
          <textarea class="form-control rounded-0 mb-3 no-resize no-box-shadow" id="source" rows="6"></textarea>
        </div>
        <div class="col-sm-6 px-0 mobile">
          <div class="p-2" id="target">Аиҭагара</div>
        </div>
      </div>
    </div>
    <div class="row m-0 justify-content-center">
      <div class="col-sm-10"></div>
      <button type="button" class="col-11 col-sm-2 btn btn-success mt-2 no-box-shadow" id="translate">Еиҭага</button>
    </div>
  </form>
</div>