/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #f5f5f5;
  color: #777;
  overflow-x: hidden;
}

.dark {
  background-color: #444444;
  color: #f5f5f5;
}

.dark .yellow {
  --label-r: 228;
  --label-g: 230;
  --label-b: 105;
  --label-h: 60;
  --label-s: 71;
  --label-l: 65;
}

.dark .green2 {
  --label-r: 0;
  --label-g: 134;
  --label-b: 114;
  --label-h: 171;
  --label-s: 100;
  --label-l: 26;
}

.dark .red {
  --label-r: 215;
  --label-g: 58;
  --label-b: 74;
  --label-h: 353;
  --label-s: 66;
  --label-l: 53;
}

.dark .blue {
  --label-r: 0;
  --label-g: 117;
  --label-b: 202;
  --label-h: 205;
  --label-s: 100;
  --label-l: 39;
}

.dark .nav-item {
  display: inline-block;
  --lightness-threshold: 0.6;
  --background-alpha: 0.18;
  --border-alpha: 0.3;
  --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
  color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%))!important;
  background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
  border: 1px solid transparent;
  border-radius: 2em;
  --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
  --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
}

.dark .active-item {
  background: hsla(var(--label-h), calc(var(--label-s) * 2%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha))!important;
}

.dark .bc {
  border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha))!important;
}

.dark app-root nav-bar header {
  background-color: rgb(3, 3, 3);
  color: #fff;
}

.dark div.bg-white{
  background-color: rgb(3, 3, 3)!important;
  color: #fff;
}

.dark span.material-icons-outlined.hand, .dark span.material-icons-outlined.edit {
  color: #fff;
}

.dark span.material-icons-outlined.active-edit, .dark span.material-icons-outlined.active-hand {
  color: #bd2130;
}

.dark .alert button.close {
  background-color: transparent!important;
  color: #444444!important;
}

.dark .lang {
  color: #f5f5f5!important;
}

.dark #source, .dark #target, .dark .mobile {
  background-color: #444444!important;
  color: #f5f5f5!important;
}

.dark translate button, .dark .select-file-section .button {
  background-color: #444444!important;
  color: #f5f5f5!important;
  border: 1px solid #dadce0!important;
}

.dark .translate-type .active {
  background-color: rgba(255, 0, 0, 0.2)!important;
}

.dark translate button a {
  background-color: #444444!important;
  color: #f5f5f5!important;
}

.dark span.material-icons-outlined {
  color: #fff;
}

.dark .active-filter.material-icons-outlined {
  color: #d2e264;
}

.dark div.curSub {
  color: #fff;
  background-color: #444444;
  border: 1px solid #fff;
}

.dark input {
  background-color: #444444;
  color: #fff;
  border: 1px solid  #fff!important;
}

.dark .play-container button.btn {
  background-color: #000;
}

.dark .play-container button.play {
  color: #fff;
}

.dark .voiceover, .dark .female, .dark .male {
  color: #fff;
}

.dark div.sentence-section {
  background-color: #444444;
  color: #fff;
}

.dark .modal-content {
  background-color: #444444;
  color: #fff;
  border: 1px solid #fff;
}

.dark div.modal-body {
  color: #fff;
}

.dark .modal-footer {
  border-top:none;
}

.dark a.text-green {
  color: #fff;
}

.dark i.logo {
  background-color: rgb(3, 3, 3);
  background-image: url('assets/images/logo-dark.png');
}

#target {
  white-space: pre-wrap;
}

#source {
  min-height: 172px;
}

.header {
  background-color: #fff;
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-right-top-0 {
  border-top-right-radius: 0 !important;
}

.rounded-left-top-0 {
  border-top-left-radius: 0 !important;
}

.shadow-google {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
  border-radius: .5em;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.border-google {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.no-resize {
  resize: none !important;
}

.swap {
  text-align: center;
  min-width: 56px;
  max-width: 56px;
}

.footer {
  text-align: center;
}

.footer-item {
  display: inline-block;
}

.md-green {
  color: rgba(40, 167, 69, 0.54);
}

.material-icons.md-36 {
  font-size: 36px;
}

.icon-oval {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
}

.nav .nav-link {
  cursor: default;
}

.lang {
  font-size: 14px;
}

.swap.nav-link {
  cursor: pointer;
}

.no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important
}

.mobile {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.svg {
  display: block;
  background: #fff;
  opacity: 0.6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 40px;
  height: 40px;
}

.logo {
  display: block;
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  background-image: url('assets/images/logo.png');
}

.logo-exp {
  display: block;
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  background-image: url('assets/images/logo-exp.png');
}

.law {
  background-image: url('assets/images/law.svg');
}

.github {
  background-image: url('assets/images/github.svg');
}

.mail {
  background-image: url('assets/images/mail.svg');
}

/* This is the media query section */
@media (max-width: 576px) {
  .mobile {
    border-top: none;
    color: #fff;
    background-color: rgb(40, 167, 69);
    flex: none;
    max-width: none;
    min-height: 4em;
  }

  textarea#target::placeholder {
    color: #fff;
  }

  textarea#target, textarea#target:focus {
    color: #fff;
    background-color: rgb(40, 167, 69);
  }

  .header {
    margin-bottom: 0;
  }

  .footer {
    margin-top: 6em;
  }

  #lang-src {
    display: none;
  }

  #lang-tgt {
    display: none;
  }

  #lang-src-sm .lang {
    text-align: center;
    width: 100%;
    color: rgb(40, 167, 69)
  }

  #lang-tgt-sm .lang {
    text-align: center;
    width: 100%;
    color: rgb(40, 167, 69)
  }

  #source {
    max-height: 172px;
  }
}

@media screen and (min-width: 577px) {
  .mobile, textarea#target, textarea#target:focus {
    background-color: #f5f5f5;
  }

  .footer {
    margin-top: 10em;
  }

  #lang-src-sm {
    display: none;
  }

  #lang-tgt-sm {
    display: none;
  }
}
