.active-mic {
  color: #FF4F5E;
}

.mic-section {
  text-align: center;
}

.seconds {
  text-align: center;
}
.green {
  color: #59cbb7;
}

.red {
  color: #FF4F5E;
}

.right-section {
  text-align: right;
}

.right-section button {
  position: relative;
  color: #777;
}

.fs-28 {
  font-size: 28px;
}

.fs-36 {
  font-size: 36px;
}

.sentence-section {
  color: #000;
  background-color: #f5f5f5;
  font-family: 'Google Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  opacity: .87;
  text-align: center;
  min-height: 210px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0);
}

.active-sentence {
  border: 2px solid #ffd740;
}

.active-warning {
  border: 2px solid #FF4F5E;
}

.edit {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 20px;
  padding-right: 5px;
}

.active-edit {
  font-family: 'Material Icons';
  color: #ffd740!important;
}

.active-edit-warning {
  font-family: 'Material Icons';
  color: #FF4F5E!important;
}

.save {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 20px;
  padding-right: 5px;
}

.active-save {
  font-family: 'Material Icons';
  color: #ffd740!important;
}

.play {
  align-items: center;
  background: var(--white);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  z-index: 100;
}

.background {
  border-radius: 50%;
  filter: blur(7.6px);
  height: 75px;
  margin: 0 auto;
  position: absolute;
  transition: opacity var(--transition-duration) linear;
  width: 75px;
  will-change: opacity;
}

.background-voiceover {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #444444;
}

.background-voiceover span {
  font-size: 10em;
  color: #eee;
}

.blue {
  background: linear-gradient(270deg,#88d1f1,#b1b5e5);
  opacity: .5;
}

.pink {
  background: linear-gradient(-270deg,#f89096,#b1b4e5);
  opacity: .5;
}

.play-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.alert {
  text-align: center;
}

.curSub{
  color: #212529
}

.modal-body {
  text-align: center;
  color: #212529;
  font-size: 20px;
}

.modal-footer button {
  text-align: center;
  color:#f5f5f5
}

.modal-dialog{
  top: 25%;
  width: 90%;
}

.cursub {
  border-radius: 15%;
  border:1px solid black;
  width: 43px;
  text-align: center;
}

.gender, .voiceover , .filter{
  display: inline-block;
}

.filter-bg {
  background-color: rgb(3, 3, 3);
}

.filter {
  font-size: 12px;
  top: 0px;
  position: absolute;
}

.active-filter {
  color: #d2e264;
}

.male {
  display: inline-block;
}

.female {
  display: inline-block;
}

.btn-check:checked+label div {
  color: #000;
  background-color: #d2e264;
  border-color: #d2e264;
}

.count {
  display: inline-block;
  min-width: 130px;
}

.video-section {
  background-color: black;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.right-section button.download {
  background: -webkit-linear-gradient(#eee 0%, #333 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-download {
  position: absolute;
  right: -4px;
  font-size: 10px;
  top: -4px;
}