.active-mic {
  color: #bd2130;
}

.mic-section {
  text-align: center;
}

.seconds {
  text-align: center;
}
.green {
  color: rgb(40, 167, 69);
}

.red {
  color: #bd2130;
}

.right-section {
  text-align: right;
}

.right-section button {
  color: #777;
}

.fs-30 {
  font-size: 30px;
}

.fs-36 {
  font-size: 36px;
}

.sentence-section {
  color: #000;
  background-color: #f5f5f5;
  font-family: 'Google Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  opacity: .87;
  text-align: center;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}