<div class="container-xl p-0 height-google">
    <div class="shadow-google bg-white">
        <div class="row mb-0 mt-1 ml-1 mr-1">
            <div class="p-0 col-9 curSub">
                <div *ngIf="!isFilter" class="count">
                    <input class="cursub" [(ngModel)]="inputSub" (ngModelChange)="onChangeSub()" type="number" />
                    <span>/{{dubCount}}/{{subtitles.length}}</span>
                    <span class="filter material-icons-outlined" (click)="onToggleFilter()">filter_list</span>
                </div>
                <div *ngIf="isFilter" class="count">
                    <input class="cursub filter-bg" ngModel="{{indexFilter+1}}" type="number" />
                    <span>/{{dubCountFilter}}/{{subtitlesFilter.length}}</span>
                    <span class="active-filter filter material-icons-outlined" (click)="onToggleFilter()">filter_list</span>
                </div>
                <div class="gender">
                    <input hidden type="radio" (click)="onChangeGender(male)" #male class="btn-check" name="gender"
                        value="m" id="male" [checked]="subindex[0]=='male'">
                    <label class="m-0 p-0 btn m no-box-shadow material-icons-outlined" for="male">
                        <div class="male">
                            man
                        </div>
                    </label>

                    <input hidden type="radio" (click)="onChangeGender(female)" #female class="btn-check" name="gender"
                        value="f" id="female" [checked]="subindex[0]=='female'">
                    <label class="m-0 p-0 btn f no-box-shadow material-icons-outlined" for="female">
                        <div class="female">
                            woman
                        </div>
                    </label>

                    <input hidden type="radio" (click)="onChangeGender(all)" #all class="btn-check" name="gender"
                        value="all" id="all" [checked]="subindex[0]=='all'">
                    <label class="m-0 p-0 btn wc no-box-shadow material-icons-outlined" for="all">
                        <div class="male">
                            accessibility
                        </div>
                    </label>
                </div>
            </div>
            <div class="col-3 p-0 right-section">
                <button *ngIf="!progressdownloadValue" (click)="onDownload()" type="button"
                    class="p-0 fs-28 btn no-box-shadow">
                    <span class="material-icons-outlined">download</span>
                </button>
                <button *ngIf="progressdownloadValue" class="p-0 fs-28 btn no-box-shadow" type="button">
                    <span class="download material-icons">download</span>
                    <span class="progress-download">{{progressdownloadValue}}%</span>
                </button>
                <button data-toggle="modal" data-target="#uploadModel" type="button" class="p-0 fs-28 btn no-box-shadow">
                    <span class="material-icons-outlined">upload</span>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog" aria-labelledby="uploadModelLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <input class="form-control-sm" type=file id=file>
                            </div>
                            <div class="modal-footer row m-0">
                                <button type="button" class="col-4 btn btn-secondary" data-dismiss="modal">Мап</button>
                                <div class="col-3"></div>
                                <button type="button" class="col-4 btn btn-danger" (click)="onUpload()">Аҭагалара</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-toggle="modal" data-target="#deleteModel" type="button"
                    class="p-0 fs-28 btn no-box-shadow">
                    <span class="material-icons-outlined">delete_forever</span>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Ианыхтәума унҵамҭақәа зегьы?
                            </div>
                            <div class="modal-footer row m-0">
                                <button type="button" class="col-4 btn btn-secondary" data-dismiss="modal">Мап</button>
                                <div class="col-3"></div>
                                <button type="button" class="col-4 btn btn-danger" (click)="onDelete()"
                                    data-dismiss="modal">Ааи</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-pills">
            <li class="green nav-item bc">
                <span>иаргы</span>
            </li>
            <li class="green nav-item bc" [class.active-item]="true">
                аҩны
            </li>
        </ul>

        <div class="row m-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 px-0 ml-3 mr-3 video-section">
                <video width="100%" height="100%" id="video" preload="auto" playsinline>
                    <!-- <source [src]="urlorginal+'.webm'" type="video/webm"> -->
                    <source [src]="urlorginal+'.mp4'" type="video/mp4">
                </video>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 px-0 m-3 p-3 shadow-google sentence-section" [class.active-sentence]="!isReadOnlysen"
                [class.active-warning]="isWarning">
                <div display="(!isSource||!isTranslate)&&!isReadOnlysen" (keydown)="onChangeText($event)" onpaste="return false;"
                    class="sentence-section m-0 p-0 form-control no-resize no-box-shadow" id="sentence">{{currentSub.target}}</div>
                <div *ngIf="isReadOnlysen" class="sentence-section source m-0 p-3 form-control no-resize no-box-shadow">{{currentSub.target?currentSub.target:currentSub.source}}</div>     
                <div *ngIf="isSource&&!isReadOnlysen" class="sentence-section source m-0 p-3 form-control no-resize no-box-shadow">{{currentSub.source}}</div>
                <div *ngIf="isTranslate&&!isReadOnlysen" class="sentence-section translation source m-0 p-3 form-control no-resize no-box-shadow">{{translation}}</div>
                <span class="edit material-icons-outlined" [class.active-edit]="!isReadOnlysen"
                    [class.active-edit-warning]="isWarning" (click)="onEdit()">
                    mode_edit
                </span>
                <div *ngIf="!isReadOnlysen&&subindex[0]=='all'" class="edit-gender">
                    <span class="material-icons-outlined" [class.active-edit]="currentSub.gender == 'm'" (click)="editGender('male')">
                        man
                    </span>
                    <span class="material-icons-outlined" [class.active-edit]="currentSub.gender == 'f'" (click)="editGender('female')">
                        woman
                    </span>
                </div>
                <span *ngIf="!isReadOnlysen" class="show-copy material-icons-outlined" [class.active-copy]="isCopy" (click)="makeCopy()">
                    copy
                </span>
                <span *ngIf="!isReadOnlysen" class="show-source material-icons-outlined" [class.active-edit]="isSource" (click)="showSource()">
                    change_circle
                </span>
                <span *ngIf="!isReadOnlysen" class="show-translate material-icons-outlined" [class.active-edit]="isTranslate" (click)="showTranslate()">
                    translate
                </span>
                <span *ngIf="!isReadOnlysen" class="show-save yellow nav-item bc" [class.active-item]="isSaved" (click)="saveCurrent()">
                    {{inputSub}}/{{subCount}}
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-0">
            <div class="col-2"></div>
            <mat-progress-bar [appProgressBarColor]="progressBarColor" class="col-8 audio-progress" mode="determinate"
                [value]="progressbarValue"></mat-progress-bar>
            <div class="col-2"></div>
        </div>
        <div class="seconds">{{cursec | number : '1.1-1'}}/{{currentSub.duration | number : '1.1-1'}} асекундқәа</div>
        <div class="row m-2 mb-5 justify-content-center">
            <button *ngIf="!isFilter" [disabled]="recording" (click)="onPrevious()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_before
                </span>
            </button>
            <button *ngIf="isFilter" [disabled]="recording" (click)="onPreviousFilter()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_before
                </span>
            </button>
            <div class="row col-8">
                <div class="col-4 play-container" (click)="onTogglePlayOriginal()">
                    <button *ngIf="urlorginal" type="button" class="play btn no-box-shadow">
                        <span *ngIf="!isPlayingOriginal" class="red fs-36 material-icons">
                            play_arrow
                        </span>
                        <span *ngIf="isPlayingOriginal" class="red fs-36 material-icons">
                            stop
                        </span>
                    </button>
                    <div *ngIf="urlorginal" class="background pink"></div>
                </div>
                <div *ngIf="allowRecording" class="col-4 play-container" (click)="onToggleRecording()">
                    <button class="play btn no-box-shadow">
                        <span *ngIf="!recording" class="fs-36 material-icons">
                            mic
                        </span>
                        <span *ngIf="recording" class="fs-36 material-icons" [class.active-mic]="recording">
                            mic
                        </span>
                    </button>
                    <div class="background pink"></div>
                </div>
                <div *ngIf="url" class="col-4 play-container" (click)="onTogglePlay()">
                    <button type="button" class="play btn no-box-shadow">
                        <span *ngIf="!isPlaying||playing.paused" class="green fs-36 material-icons">
                            play_arrow
                        </span>
                        <span *ngIf="isPlaying&&!playing.paused" class="green fs-36 material-icons">
                            stop
                        </span>
                    </button>
                    <div *ngIf="url" class="background blue"></div>
                </div>
            </div>
            <button *ngIf="!isFilter" [disabled]="recording" (click)="onNext()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_next
                </span>
            </button>
            <button *ngIf="isFilter" [disabled]="recording" (click)="onNextFilter()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_next
                </span>
            </button>
        </div>
        <div class="row m-0 justify-content-center">
            <div *ngIf="errorBar" class="col-10 alert alert-warning fade show" role="alert">
                {{errorBar}}
            </div>
        </div>
    </div>
</div>