<div class="container-xl p-0 height-google">
    <div class="shadow-google bg-white">
        <div class="row mb-0 mt-1 ml-1 mr-1">
            <div class="col-6 curSub">
                <input class="cursub" [(ngModel)]="inputSub" (ngModelChange)="onChangeSub()" type="number"/>
                <span> /{{dubCount}}/{{subtitles.length}}</span>
            </div>
            <div *ngIf="!dubEmpty" class="col-6 right-section">
                <button (click)="onDownload()" type="button"
                    class="p-0 fs-28 btn no-box-shadow material-icons-outlined">
                    cloud_download
                </button>
                <button data-toggle="modal" data-target="#deleteModel" type="button"
                    class="p-0 fs-28 btn no-box-shadow material-icons-outlined">
                    delete_forever
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Ианыхтәума унҵамҭақәа зегьы?
                            </div>
                            <div class="modal-footer row m-0">
                                <button type="button" class="col-4 btn btn-secondary" data-dismiss="modal">Мап</button>
                                <div class="col-3"></div>
                                <button type="button" class="col-4 btn btn-danger" (click)="onDelete()"
                                    data-dismiss="modal">Ааи, ианых</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 px-0 m-3 p-3 shadow-google sentence-section">
                {{currentSub.sentence}}
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-0">
            <div class="col-2"></div>
            <mat-progress-bar [appProgressBarColor]="progressBarColor" class="col-8 audio-progress" mode="determinate"
                [value]="progressbarValue"></mat-progress-bar>
            <div class="col-2"></div>
        </div>
        <div class="seconds">{{cursec}}/{{currentSub.duration}} асекундқәа</div>
        <div class="row m-2 mb-3 justify-content-center">
            <button [disabled]="recording" (click)="onPrevious()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_before
                </span>
            </button>
            <div class="row col-8">
                <div class="col-4 play-container" (click)="onTogglePlayOriginal()">
                    <button *ngIf="urlorginal" type="button"
                        class="play btn no-box-shadow">
                        <span *ngIf="!isPlayingOriginal||playingOriginal.paused" class="red fs-36 material-icons">
                            play_arrow
                        </span>
                        <span *ngIf="isPlayingOriginal&&!playingOriginal.paused" class="red fs-36 material-icons">
                            stop
                        </span>
                    </button>
                    <div *ngIf="urlorginal" class="background pink"></div>
                </div>
                <div class="col-4 play-container" (click)="onToggleRecording()">
                    <button class="play btn no-box-shadow">
                        <span *ngIf="!recording" class="fs-36 material-icons-outlined">
                            mic
                        </span>
                        <span *ngIf="recording" class="fs-36 material-icons-outlined" [class.active-mic]="recording">
                            mic
                        </span>
                    </button>
                    <div class="background pink"></div>
                </div>
                <div class="col-4 play-container" (click)="onTogglePlay()">
                    <button *ngIf="url" type="button" class="play btn no-box-shadow">
                        <span *ngIf="!isPlaying||playing.paused" class="green fs-36 material-icons">
                            play_arrow
                        </span>
                        <span *ngIf="isPlaying&&!playing.paused" class="green fs-36 material-icons">
                            stop
                        </span>
                    </button>
                    <div *ngIf="url" class="background blue"></div>
                </div>
            </div>
            <button [disabled]="recording" (click)="onNext()" type="button" class="col-2 btn no-box-shadow">
                <span class="fs-36 material-icons-outlined">
                    navigate_next
                </span>
            </button>
        </div>
        <div class="row m-0 justify-content-center">
            <div *ngIf="errorBar" class="col-10 alert alert-warning fade show" role="alert">
                {{errorBar}}
            </div>
        </div>
    </div>
</div>