<div class="container-xl p-0 height-google">
    <div class="shadow-google bg-white">
        <div class="row m-0">
            <div class="col-6">
                <span>
                    {{subtitles.indexOf(currentSub)+1}}/{{subtitles.length}}
                </span>
            </div>
            <div class="col-6 right-section">
                <button (click)="onDownload()" type="button" class="p-0 fs-30 btn no-box-shadow material-icons-outlined">
                    cloud_download
                </button>
                <button (click)="onDelete()" type="button" class="p-0 fs-30 btn no-box-shadow material-icons-outlined">
                    delete_forever
                </button>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 px-0 m-3 p-3 shadow-google sentence-section">
                {{currentSub.sentence}}
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-0">
            <div class="col-2"></div>
            <mat-progress-bar [appProgressBarColor]="progressBarColor" class="col-8 audio-progress" mode="determinate"
                [value]="progressbarValue"></mat-progress-bar>
            <div class="col-2"></div>
        </div>
        <div class="mic-section">{{cursec}}/{{currentSub.duration}} асекундқәа</div>
        <div class="row m-0">
            <button (click)="onPrevious()" type="button" class="col-2 btn no-box-shadow">
                <span class="material-icons-outlined">
                    navigate_before
                </span>
            </button>
            <div class="col-8 px-0 mic-section">
                <span *ngIf="!recording" class="fs-36 material-icons-outlined" (click)="initiateRecording()">
                    mic
                </span>
                <span *ngIf="recording" class="fs-36 material-icons-outlined" [class.active-mic]="recording"
                    (click)="stopRecording()">
                    mic
                </span>
            </div>
            <button (click)="onNext()" type="button" class="col-2 btn no-box-shadow">
                <span class="material-icons-outlined">
                    navigate_next
                </span>
            </button>
        </div>
        <div class="row m-0">
            <audio controls="" *ngIf="url" [src]="sanitize(url)"></audio>
        </div>
        <div class="row m-0">
            <div *ngIf="errorBar" class="col-10 alert alert-warning alert-dismissible fade show" role="alert">
                {{errorBar}}
            </div>
        </div>
        <div class="row m-0">
            <audio controls="" src="{{urlorginal}}"></audio>
        </div>
    </div>
</div>